*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    --primary:#002266;

}
body{
    width: 100%;
    height: 100vh;
    background-color: var(--primary);
}

ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    padding: 48px;
    gap: 3rem;
    align-items: center;
}

ul li{
    width: 256PX;
    height: 64px;
    background-color: #fff;
    font-size: 1.7em;
    border-radius: 10px;
    transition: .2s;

}
ul li:hover{
    background-color: #aaa;
}

ul li a{
    width: 100%;
    height: 100%;
    color: var(--primary);
    outline: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
