*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    --primary:#002266;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
}

header{
    height: 20vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    opacity: 0;
    animation: header 1s ease-out forwards;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--primary);
}

body div{
    display: flex;
    width: 100%;
    height: 70vh;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

img{
    height: 80%;
}
